$nav-first-color: red;
$nav-second-color: green;
$primary-color: coral;

* {
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  margin: 0;
}

nav {
  ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;

    .foo {
      color: $nav-first-color;
      background-color: $nav-second-color;
    }

    #about__me {
      color: $nav-second-color;
      background-color: $nav-first-color;
    }

    .bar {
      color: $nav-first-color;
      background-color: $nav-second-color;
    }
  }
}

h1 {
  color: blue;
  font-size: 70px;
  font-style: italic;

  span {
    color: gold;
    text-decoration: underline;
  }
}

.box {
  display: flex;
  justify-content: space-around;
  align-items: center;

  button {
    margin-top: 30px;
    padding: 8px 20px;
    background-color: lighten($primary-color, 10%);
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: gold;
      transform: scale(1.5) rotate(360deg);
      transition: 2s;
    }
  }
}
